---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

AccessModifierOffset: -4
NamespaceIndentation: None
PointerAlignment: Left

AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

BreakBeforeBraces: Attach
SpaceAfterCStyleCast: false
SortIncludes: false
IncludeBlocks: Preserve
